<div style="text-align:center;">
  <h1>
    <%= @menu.name%>
  </h1>
  </br>
  <%= render @menu.menu_items %>
  </br>
  <div>
    <p>
      <%= link_to "Edit Menu", edit_menu_path(@menu) %>
    </p>
    <p>
      <%= link_to "Delete Menu", menu_path(@menu), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
      } %>
    </p>
  </div>
  </br>
  <hr style="border-top: 3px solid #bbb;">
  </br>
  <%= render 'menu_items/form' %>
  </br>
  <hr style="border-top: 3px solid #bbb;">
  </br>
  <%= link_to "Back to Home", root_path %>
</div>